body{
    margin:0;
    padding:0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orange;
    height: 55px;
    border-bottom: 2px solid #dedede;
} 
.logo{
    height: 40px;
}

span{ 
    color: white;
}
main{
    width:80%;
    margin: auto;
}
.contenitore{
    width: 32%;
}
.immagine{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    margin: auto;
    min-height: 80vh;
    position: relative;
}
.i1{
    background-image: url(../img/1.webp);
}
.i2{
    background-image: url(../img/2.webp);
}
.i3{
    background-image: url(../img/3.webp);
}
.i4{
    background-image: url(../img/4.webp);
}
.i5{
    background-image: url(../img/5.webp);
}
.i6{
    background-image: url(../img/6.webp);
}
.flex{
    flex-direction: row;
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
}
.preferiti{
    position: absolute;
    right: 0px;
    background-color: white;
    padding: 8px;
    margin-top:20px;
    width:20px
}
.sconto{
    position: absolute;
    bottom: 40px;
    left: 0px;
    background-color: red;
    padding: 3px 5px;
    
}
.qualita{
    position: absolute;
    bottom: 40px;
    background-color: green;
    padding: 3px 5px;
    margin-left: 50px;
}
.contenitore-prodotto{
    line-height: 0px;
    margin-left: 9px;
    margin-top: 20px;
}
h3{
    margin-block-end: 0;
    margin-block-start: 0;
}
.descrizione{
    font-size: 13px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 0;
    padding: 0;
}
